.nbut{
  background:#ffffff;
  color:rgb(117, 117, 117);
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  font-family: 'WandohopeB';
}
.nbut:hover{
  background:rgb(0, 0, 0);
  color:#1AAB8A;
}
.nbut:before,.nbut:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #af0000;
  transition:400ms ease all;
}
.nbut:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.nbut:hover:before,.nbut:hover:after{
  width:100%;
  transition:800ms ease all;
}
@font-face {
  font-family: 'WandohopeB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}