.nav {
    display: inline-block;
    position: relative;
    margin-right:50px;
    float: left;
    margin-top: 10px;
}

.head_image {
    display: inline-block;
    float: left;
    height: 64px;
    margin-right: 50px;
}

.image {
    width: 128px;
}

.login {
    display: inline-block;
    float: right;
    height: 64px;
    margin-right: 0px;
    margin-top: 10px;
}