<!DOCTYPE html>
<!-- 사이트의 다른 모든 부분에서 공통적으로 들어가는 부분인 base.html을 여기에 작성하면 된다 -->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IASA Game Mainpage{% endblock %}</title>
</head>
<body>
    <a href="{% url 'home' %}">Hello world!</a>
    <ul class="navbar-nav ml-5 mr-5">
        <li class="nav-item dropdown mx-1 btn btn-primary">
            {% if user.is_active %}
            <a href="{% url 'profile' pk=user.id %}" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">
                <i class="fas fa-user"></i>&ensp;{% firstof user.get_short_name user.get_username %}&ensp;
            </a>
            <div class="dropdown-menu">
                <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                <a href="{% url 'password_change' %}" class="dropdown-item">Change Password</a>
            </div>
            {% else %}
            <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">
                <i class="fas fa-user"></i>&ensp;Anonymous&ensp;
            </a>
            <div class="dropdown-menu">
                <a href="{% url 'login' %}" class="dropdown-item">Login</a>
                <a href="{% url 'register' %}" class="dropdown-item">Register</a>
            </div>
            {% endif %}
        </li>
    </ul>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>