{% extends 'base.html' %}



{% block title %} Homepage {% endblock %}

{% block content %}
<html>
<head>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/css.css' %}">
<body>
    <div class="main">
        <div class="left-menu">
            <img class="text" src="{% static 'home/images/hangman.jpg' %}" alt="hangman" style="white-space:nowrap; display: inline-block; margin-top: 0px; position: static; width: 100%;">

        </div>
        <div class="article" style="background-color: white; border: none;">
            <div style="text-align: left;" class="text">
            {% load static %}

            <div style="display: inline-block; height: 700px; width: 1400px; margin-left: 0px;" >
            <h1>Hangman</h1><br>
            <div>
영어 단어 맞히기 게임 중 하나로, 글자 수만큼 빈 칸 또는 밑줄을 그려놓고 26개 글자 중 하나를 대면 해당 단어 안에 그 글자가 있을 경우 있는 칸에 다 적어놓고, 없을 경우 라이프를 하나 깎는다.<br>
<br>
교수대에 교수형을 당하는 졸라맨 같은 사람의 그림을 그리는데, 처음에는 공백으로 시작하다가 한 글자 틀려서 라이프가 깎일 때 마다 그 틀린 글자를 표시해놓고 교수대-밧줄-머리-팔-손-몸통-다리-발 순서로 그려서 그림이 완성되면 지게 되는 게임이다. 일반적으로 10번 내외의 기회가 있다.<br>
<br>
참가자들의 요청에 의해 손가락, 발가락, 눈, 코, 입 등등 세부적인 부위까지 그려서 추가 기회를 얻는 경우도 있다. 글자를 맞히는 순서는 관계 없다.<br>
<br>
예를 들어, 'NAMUWIKI'라는 단어를 알아맞혀야 한다면, 아래와 같이 된다.<br>
_ _ _ _ _ _ _ _<br>
모두 8글자이므로 밑줄이 8개 그려져있다. 저 상태에서 게임 참가자가 'I'를 골랐다면<br>
_ _ _ _ _ I _ I<br>
이렇게 원래 I가 있는 자리에 모두 I가 드러난다. 그 다음 'M'을 고르면<br>
_ _ M _ _ I _ I<br>
이렇게 M도 나온다. 하지만 원래 단어에 없는 'O'를 고르면<br>
_ _ M _ _ I _ I<br>
O는 나오지 않고 행맨 그림이 1획 그려진다.<br>
이렇게 계속 하다가 10획 중 9획이 그려진 상황에서<br>
N A M U _ I K I<br>
이렇게 되었다면, 게임자가 'W'를 고르면 단어가 완성되어 성공하지만 다른 글자를 고르면 틀려서 1획이 그려지고 행맨 그림이 완성되어 실패이다.<br>
                </div>
            </div>
            </div>
        </div>
        <div class="comment" style="clear: both;">
            All rights reserved
            "All rights reserved" is a phrase that originated in copyright law as part of copyright notices. Copyright law in most countries no longer requires such notices, but the phrase persists. The original understanding of the phrase as relating specifically to copyright may have been supplanted by common usage of the phrase to refer to any legal right, although it is probably understood to refer at least to copyright.
            
    </div>

</body>
</html>
{% endblock %}